.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #FFF;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #FF3D00;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
    50% {
      transform: scale(1) translate(-50%, -50%);
}
}

  .modal__loader {
    display: inline-block;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    position: relative;
  }
  .modal__loader::before {
    content: '';  
    position: absolute;
    left: 93px;
    bottom: 6px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #000;
    border-bottom-color: #FF3D00;
    box-sizing: border-box;
    animation: rotation 0.6s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loader-search {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader-search::after,
  .loader-search::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloaderSearch 2s linear infinite;
  }
  .loader-search::after {
    animation-delay: 1s;
  }
  
  @keyframes animloaderSearch {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }