.backdrop {
    background: linear-gradient(180deg, #fafeff9c 0%, #e4edf4bb 100%);
    /* fixed top-0 left-0 h-screen w-screen z-[-1] */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: #FAFCFE;
    border-radius: 17px;
    min-height: 300px;
    position: relative;
    min-width: 320px;
    max-width: 80vw;
    z-index: 999;
    opacity: 1;
    cursor: auto;
    padding: 10px 20px;
}