.search-section{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.search{
    width: 100%;
    display: flex;
    gap: 10px;
}

.search input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
}

.search__button-search{
    padding: 5px 10px;
    background: linear-gradient(180deg, #DAE8F2 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(193, 216, 234, 0.377);
    border-radius: 8px;
}
.search__button-filter{
    border-radius: 15px;
    background: linear-gradient(180deg, #DAE8F2 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(193, 216, 234, 0.37);
    display: flex;
    gap: 5px;
    min-width: 100px;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.search-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search__button-filter span{
    color: #555;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.15px;
}
.search__filter-menu{
    position: absolute;
    top: 35px;
    left: 0;
    border-radius: 17px;
    border: 1px solid rgba(216, 230, 242, 0.10);
    background: #FAFCFE;
    overflow: hidden;
    transform: translateY(0);
    transition: all .3s ease;
    z-index: 3;
    opacity: 1;
}
.search__filter-menu .search_filter-item{
    border: 1px solid rgba(7, 7, 7, 0.1);
    background: #FAFCFE;
    padding: 10px 28px;
    color: #000;
}
.search__filter-menu .search_filter-item:hover{
    background-color: #DAE8F233;
    color: gray;
}

.search-description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#filterDescription{
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

.container-info-filter{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.filter--people{
    background-color: #f5a8a8;
    border: 1px solid #000;
}
.filter--planets{
    background-color: #b1aef7;
    border: 1px solid #000;
}
.filter--films{
    background-color: #b9f7d5;
    border: 1px solid #000;
}
.filter--species{
    background-color: #f5dfb5;
    border: 1px solid #000;
}
.filter--vehicles{
    background-color: #aad9f8;
    border: 1px solid #000;
}
.filter--starships{
    background-color: #f8ace9;
    border: 1px solid #000;
}

.counter-filter{
    width: 100%;
    margin-bottom: 15px;
}

.svg-open-filter{
    transition: all .3s ease-in-out;
}

.svg-open-filter--rotate{
    rotate: 180deg;
}

.search-description-description{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-description__title{
    color: #000;
    font-weight: 700;
    font-size: 26px;
}

.search-description__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-description__especifications{
    display: flex;
    gap: 10px;
    max-width: 500px;
}

.search-description__especifications-key{
    color: #b13a3a;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
}
.search-description__especifications-value{
    color: #000;
    font-size: 16px;
}
.search-description__especifications--gender{
    position: relative;
}
.search-description__especifications--eye-color{
    display: flex;
    gap: 6px;
}
.search-description__especifications--opening_crawl-small{
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.search-description__especifications--opening_crawl{
    display: block !important;
}
.search-description__especifications-value--select{
    border-radius: 10px;
    padding: 0px 10px;
    border: 1px solid #000;
    text-transform: capitalize;
    font-weight: 600;
}
.search-description__especifications-value--select option{
    text-transform: capitalize;
}
.select-people{
    background: linear-gradient(180deg, #f5a8a862 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(243, 217, 237, 0.37);
}
.select-planets{
    background: linear-gradient(180deg, #b1aef762 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(243, 217, 237, 0.37);
}
.select-films{
    background: linear-gradient(180deg, #b9f7d562 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(243, 217, 237, 0.37);
}
.select-species{
    background: linear-gradient(180deg, #f5dfb562 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(243, 217, 237, 0.37);
}
.select-vehicles{
    background: linear-gradient(180deg, #aad9f862 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(243, 217, 237, 0.37);
}
.select-starships{
    background: linear-gradient(180deg, #f8ace962 0.01%, #F9FCFE 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(243, 217, 237, 0.37);
}
.svg-gender{
    position: absolute;
    top: -5px;
    right: -25px;
}
.eye-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}